.external-styling {
	color: yellow;
}

* {
	font-family: Arial, sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 48px;
}

#sub-title {
	text-transform: uppercase;
}

.languages__list-item {
	background-color: #aed0a1;
}

li[type] {
	border: 1px solid blue;
}

img + ol {
	list-style-type: none;
}

#main-page img {
	width: 112px;
	height: 112px;
	border-radius: 50%;
}

main ~ footer {
	text-align: center;
}

.others__list > li {
	letter-spacing: 12px;
}
